//
   Created by jawaad on 17/07/2014.

mixin language_modal_coke
    +basic_modal_sans_buttons("Language")#UserLanguageModal
        .btn-group-vertical(role="group").btn-block
            button.btn.btn-default.btn-block.japaneseLanguage(type="button", data-dismiss="modal", aria-hidden="true")
                span 日本語
            button.btn.btn-default.btn-block.englishLanguage(type="button", data-dismiss="modal", aria-hidden="true")
                span English


mixin navbar_coke
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation').coke
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.navbar-toggle-left.collapsed(type='button', data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                button.navbar-toggle.collapsed.cart-redirect(type='button')
                    span.sr-only Shopping Cart
                    .cart-header
                        span.badge.total_cases.hideable_total_cases(style="display: none;") 0
                        span &nbsp;
                        i.glyphicon.glyphicon-shopping-cart
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li.active
                            a(href="#")
                                span.japanese キャタロッグ
                                span.english.hidden Catalog
                        li
                            a(href="viewlegal.html").legal1
                                span.english.hidden User Agreement
                                span.japanese 利用規約


mixin navbar_coke_address
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation').coke
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.navbar-toggle-left.collapsed(type='button', data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                button.navbar-toggle.collapsed.cart-redirect(type='button')
                    span.sr-only Shopping Cart
                    .cart-header
                        span.badge.total_cases.hideable_total_cases(style="display: none;") 0
                        span &nbsp;
                        i.glyphicon.glyphicon-shopping-cart
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li
                            a(href="shopping.html")
                                span.japanese ショッピング
                                span.english.hidden Shopping
                        li.active
                            a(href="#")
                                span.japanese 住所変更
                                span.english.hidden Address Change
                        li
                            a(href="#")
                                span.japanese オーダー履歴
                                span.english.hidden Order History
                        li.divider
                        li
                            a(href="#", data-toggle="modal", data-target="#UserLanguageModal").language: span Language / 言語
                        li
                            a(href="settings.html").settings
                                span.english.hidden Settings
                                span.japanese 設定
                        li
                            a(href="viewlegal.html").legal1
                                span.english.hidden User Agreement
                                span.japanese 利用規約

