.col-sm-4.col-lg-4.col-md-4
    .thumbnail
        img(src='{{ product.url }}', alt='{{ product.title }}')
        .caption
            .row
                .col-sm-8
                    a(href="#") {{ product.title }}
                .col-sm-4 {{product.price}}円
            p {{product.description}}
